<%+cbi/valueheader%>
<script type="text/javascript">
  function resolv_container(op) {
    let s = document.getElementById(op + '-status');
    if (!s) return;
    let cmd_line = prompt("<%:Plese input <docker create/run> command line:%>", "");
    if (cmd_line == null || cmd_line == "") {
      s.innerHTML = "<font color='red'>Canceled</font>";
      return;
    }
    if (! cmd_line.match("^docker")) {
      s.innerHTML = "<font color='red'>Command line Error</font>";
      return;
    }
    window.location.href = "/cgi-bin/luci/admin/docker/newcontainer/" + encodeURI(cmd_line)
  }
</script>
<input type="button" class="cbi-button cbi-button-apply" value="<%:Command line%>" onclick="resolv_container('<%=self.option%>')" />
<span id="<%=self.option%>-status"></span>
<%+cbi/valuefooter%>