<script type="text/javascript">//<![CDATA[
XHR.poll(1, '<%=url([[admin]], [[nas]], [[syncthing]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('syncthing_status');
		if (data && tb) {
			if (data.running) {
				var links = '<font color=green><%:RUNNING%></font><input class="cbi-button mar-10" type="button" value="<%:Open Web Interface%>" onclick="openClient();" />';
				tb.innerHTML = links;
			} else {
				tb.innerHTML = '<font color=red><%:NOT RUNNING%></font>';
			}
		}
	}
);

function openClient() {
	var curWwwPath = window.document.location.href;
	var pathName = window.document.location.pathname;
	var pos = curWwwPath.indexOf(pathName);
	var localhostPath = curWwwPath.substring(0, pos);
	var clientPort = window.document.getElementById("cbid.syncthing.config.port").value
	var url = "http:" + localhostPath.substring(window.location.protocol.length) + ":" + clientPort;
	window.open(url)
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="syncthing_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
