
</style>

            <div class="cbi-value">
			<label class="cbi-value-title">udp2raw 项目</label>
			<div class="cbi-value-field">
				<input type="button" class="cbi-button cbi-input-reload" value="点击前往" onclick="javascript:window.open('https://github.com/wangyu-/udp2raw-tunnel','target');" />
			</div>
		</div>
	
	   <div class="cbi-value">
			<label class="cbi-value-title">UDPspeeder 项目</label>
			<div class="cbi-value-field">
				<input type="button" class="cbi-button cbi-input-reload" value="点击前往" onclick="javascript:window.open('https://github.com/wangyu-/UDPspeeder','target');" />
			</div>
		</div>
	
                         
		
	</fieldset>
</fieldset>