<%
math.randomseed(os.time())
-%>
<html>

<body>
    <div class="status-bar">
        <div class="inner">
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <span class="flag"><img src="/luci-static/vssr/flags/4x3/un.svg" class="pure-img"></span> <span
                        class="status-info"></span>
                </div>
                <div class="pure-u-1-2">
                    <div class="icon-con">
                        <img src="/luci-static/vssr/img/site_icon1_01.png" class="pure-img i1">
                        <img src="/luci-static/vssr/img/site_icon1_02.png" class="pure-img i2">
                        <img src="/luci-static/vssr/img/site_icon1_03.png" class="pure-img i3">
                        <img src="/luci-static/vssr/img/site_icon1_04.png" class="pure-img i4">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        var wW = $(window).width();

        function resize() {
            wW = $(window).width();
            lw = $(".main-left").width()
            $(".status-bar").width(wW - lw);
            $(".status-bar .flag").width($(".status-bar .flag").height() / 3 * 4);
        }
        $(window).resize(resize);
        $(document).ready(function () {
            resize();
            $.getJSON("<%=url([[admin]], [[vpn]], [[vssr]], [[ip]])%>", function (data) {
                wirte_status(data);
            });
            XHR.poll(5, '<%=url([[admin]], [[vpn]], [[vssr]], [[ip]])%>', null,
                function (x, data) {
                    wirte_status(data);
                }
            );

            function wirte_status(data) {
                if(data.outboard){
                    json = data.outboardip.replace(/[\r\n]/g,"");
                    json = eval("(" + json + ")");
                    if(json.flag == "tw"){
                        flag = "cn";
                        country = "中国"
                    }else{
                        flag = json.flag;
                        country = json.country;
                    }
                    $(".flag img").attr("src","/luci-static/vssr/flags/4x3/"+flag+".svg");
                    
                    $(".status-info").html(data.outboard+"<br>"+country);
                }
                if(data.baidu){
                    $(".i1").attr("src","/luci-static/vssr/img/site_icon_01.png");
                }else{
                    $(".i1").attr("src","/luci-static/vssr/img/site_icon1_01.png");
                }

                if(data.taobao){
                    $(".i2").attr("src","/luci-static/vssr/img/site_icon_02.png");
                }else{
                    $(".i2").attr("src","/luci-static/vssr/img/site_icon1_02.png");
                }

                if(data.google){
                    $(".i3").attr("src","/luci-static/vssr/img/site_icon_03.png");
                }else{
                    $(".i3").attr("src","/luci-static/vssr/img/site_icon1_03.png");
                }

                if(data.youtube){
                    $(".i4").attr("src","/luci-static/vssr/img/site_icon_04.png");
                }else{
                    $(".i4").attr("src","/luci-static/vssr/img/site_icon1_04.png");
                }
                
                
            }


        });




    </script>

</body>

</html>