// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright (c) 2023 Tianling Shen <cnsztl@gmail.com>
 */

#include "rk3588s-u-boot.dtsi"

/ {
	chosen {
		stdout-path = &uart2;
		u-boot,spl-boot-order = "same-as-spl", &sdmmc, &sdhci;
	};
};
&rng {
	status = "okay";
};

&sdmmc {
	bus-width = <4>;
	status = "okay";
};

&sdhci {
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_bus8 &emmc_clk &emmc_cmd &emmc_data_strobe &emmc_rstnout>;
};
