
config chinadns-ng
	option enable '0'
	option bind_addr '0.0.0.0'
	option bind_port '5353'
	option china_dns '119.29.29.29'
	option trust_dns '127.0.0.1#5300'
	option ipset_name_4 'chnroute'
	option ipset_name_6 'chnroute6'
	option timeout_sec '3'
	option repeat_times '1'
	option fair_mode '0'
	option reuse_port '1'
	option noip_as_chnip '0'

