<fieldset class="cbi-section">
	  <p width="100%" align="center"><font color="blue"><b><%:CONFIG IN USE%>:</b> <b id="_subconfig"></b></font></p>
</fieldset>
<script type="text/javascript">//<![CDATA[
	var subconfig = document.getElementById('_subconfig');
	XHR.poll(1, '<%=luci.dispatcher.build_url("admin", "services", "clash", "conf")%>', null, function(x, status) {
		if ( x && x.status == 200 ) {
			subconfig.innerHTML = status.subconf ? '<b><font color="green">'+status.subconf+'</font> <input type="button" class="cbi-button cbi-button-apply" value="<%:Update%>" style=" display:inline;" onclick=" return download_conf()" /></b>' : '<b><font color="red"><%:Not Selected%></font></b>';
		} 
	});


function download_conf(){
	XHR.get('<%=url([[admin]], [[services]], [[clash]], [[update_config]])%>',null,function(x, data){}
	);
	window.setTimeout("location.href='/cgi-bin/luci/admin/services/clash/'", 500);
	return
}
//]]></script>	