config upnpd config
	option enabled		1
	option enable_natpmp	1
	option enable_upnp	1
	option secure_mode	0
	option log_output	0
	option download		20480
	option upload		2048
#by default, looked up dynamically from ubus
#	option external_iface	wan
	option internal_iface	lan
	option port		5000
	option upnp_lease_file	/var/run/miniupnpd.leases
	option igdv1		1
	option ipv6_disable	1
	option use_stun		0
	option stun_host 	stunserver.stunprotocol.org
	option stun_port	3478

config perm_rule
	option action		allow
	option ext_ports	1024-65535
	option int_addr		0.0.0.0/0	# Does not override secure_mode
	option int_ports	1024-65535
	option comment		"Allow high ports"

config perm_rule
	option action		deny
	option ext_ports	0-65535
	option int_addr		0.0.0.0/0
	option int_ports	0-65535
	option comment		"Default deny"
