########################################################################
#	hnat: 1:ON, 0:OFF                                              #
#	hqos: 1:ON, 0:OFF                                              #
#	txq_num: 16                                                    #
#	schX_enable: 1:ON, 0:OFF                                       #
#	schX_mode: schX mode                                           #
#	0:weighted round-robin 1:strict priority                       #
#	schX_bw: schX bandwidth (unit:Kbps)                            #
########################################################################
config 'global'
	option hnat 1
	option hqos 0
	option txq_num 16
	option sch0_enable 0
	option sch0_mode 0
	option sch0_bw 1000000
	option sch1_enable 0
	option sch1_mode 0
	option sch1_bw 1000000

####################################################################
#	id: queue id (0-15)                                        #
#	minrate: percentage of min rate limit                      #
#	maxrate: percentage of max rate limit                      #
#	weight: weight for queue schedule                          #
#	resv: buffer reserved for HW/SW path                       #
####################################################################
config queue
        option id 0
        option minrate 30
        option maxrate 100
        option weight 4
        option resv 4

config queue
        option id 1
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 2
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 3
        option minrate 30
        option maxrate 100
        option weight 4
        option resv 4

config queue
        option id 4
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 5
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 6
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 7
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 8
        option minrate 30
        option maxrate 100
        option weight 4
        option resv 4

config queue
        option id 9
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 10
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 11
        option minrate 30
        option maxrate 100
        option weight 4
        option resv 4

config queue
        option id 12
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 13
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 14
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 15
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4
