<br>
<h2><%:Setting%></h2>
<ul class="cbi-tabmenu">
  <% for k, v in pairs(self.tabs) do
      local class = k == self.default_tab and "cbi-tab" or "cbi-tab-disabled" 
      local id = "tab.overview-tab." .. k
  %>
        <li id=<%=id%> class=<%=class%> >
          <a onclick="this.blur(); return cbi_t_switch('overview-tab', '<%=k%>')" href=""><%=v%></a>
        </li>
  <% end %>
</ul>
<script type="text/javascript">
  window.onload = function () {
    <% for k, v in pairs(self.tabs) do
      local display = k == self.default_tab and "block" or "none" 
      local tid = "cbi-"..k.."-local"
      local sid = "cbi-"..k.."-local"
      local cid = "container.overview-tab." .. k
    %>
      mount_point_table = document.getElementById("<%=tid%>") || document.getElementById("<%=sid%>") || null
      if (mount_point_table) {
        mount_point_table.setAttribute("style", "display: <%=display%>;")
        mount_point_table.setAttribute("id", "<%=cid%>")
        cbi_t_add('overview-tab', '<%=k%>')
        // cbi_init();
      }
    <% end %>

  }
</script>
