name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
    - name: feeds-update
      run: ./scripts/feeds update -a
    - name: feeds-install
      run: ./scripts/feeds install -a
    - name: menuconfig
      run: make menuconfig
    - name: make
      run: make -j1 V=s
