<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=url('admin/network/user_status')%>', null,
		function(x, st)
		{
			var tb = document.getElementById('user_status_table');
			if (st && st && tb)
			{
				var rows = [];
				for (var i = 0; i < st.length; i++)
				{
					if(st[i].hostname == ""){
						st[i].hostname="unknown"
					}
					var action_status=""
					if(st[i].latest_action == 1)
						action_status="已过滤"
					else
						action_status="未过滤"
						
					<!--st[i].latest_time=st[i].latest_time+"<br>"+st[i].latest_time-->
					rows.push([
						st[i].hostname,
						st[i].mac,
						st[i].ip,
						st[i].appname,
						st[i].drop_num.toString(),
						st[i].total_num.toString(),
						st[i].latest_time,
						action_status
					]);
				}

				cbi_update_table(tb, rows, '<em><%:no data%></em>');
			}

		}
	);
//]]></script>

<div class="cbi-section">
	<h3><%:访问记录%></h3>
	<div class="table" id="user_status_table">
		<div class="tr table-titles">
			<div class="th"><%:Hostname%></div>
			<div class="th"><%:mac地址%></div>
			<div class="th"><%:ip地址%></div>
		<div class="th"><%:应用名称%></div>
			<div class="th"><%:丢包次数%></div>
			<div class="th"><%:总访问次数%></div>
			<div class="th"><%:最后访问时间%></div>
			<div class="th"><%:过滤状态%></div>

		</div>
		<div class="tr placeholder">
			<div class="td"><em><%:Collecting data...%></em></div>
		</div>
	</div>
</div>

